<header class="masthead">
		<div class="container gray-faded-background">
				<div class="masthead-subheading">Software Engineer</div>
				<div class="masthead-heading text-uppercase">Erica McDevitt</div>
				<a class="btn btn-primary btn-xl text-uppercase" href="#about">About Me</a>
		</div>
</header>