    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Knowledge, Training, and Accomplishments</h2>
                <h3 class="section-subheading text-muted">Here's an overview of what I've done in my years both leading up to software engineering and as a software engineer.</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="rounded-circle img-static" src="<%= image_path('individual.jpeg') %>" alt="..." />
                    </span>
                    <h4 class="my-3">Education</h4>
                    <p class="text-muted text-start">
                    Bachelor of Science, Mathematics, Bradley University, IL 2007<br/><br/>
                    Applied Mathematics & Statistics Graduate Courses, DePaul University, Chicago, IL 2010<br/><br/>
                    Java Programming Courses, Rio Salado College, Tempe, AZ 2013<br/><br/>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="rounded-circle img-static" src="<%= image_path('group.jpeg') %>" alt="..." />
                    </span>
                    <h4 class="my-3">Technical Expertise</h4>
                    <p class="text-muted text-start">
                    Languages - Ruby on Rails, Javascript, C++, Java, CSS, HTML<br/><br/>
                    Tools/Libraries - Stimulus, Turbo, jQuery, Node.js, Redis, Sidekiq, Bootstrap<br/><br/>
                    Source Control - Bitbucket, TortoiseSVN, Git/Github<br/><br/>
                    Operating Systems - Linux/Ubuntu, Windows<br/><br/>
                    Database Management- PostgreSQL<br/><br/>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="rounded-circle img-static" src="<%= image_path('family.jpeg') %>" alt="..." />
                    </span>
                    <h4 class="my-3">Accomplishments and Other Relevent Information</h4>
                    <p class="text-muted text-start">
                    Mathematics Publication: <i>Lisa DeMeyer, Yunjian Jiang, Cleland Loszewski, and Erica Purdy (McDevitt)</i><br/>“Classification of Commutative Zero-Divisor Semigroup Graphs” Rocky Mountain Journal of Mathematics (2010)<br/><br/>
                    Well trained in Agile Scrum practices and ceremonies.<br/><br/>
                    Participated as a mentee in RailsConf 2024
                    </p>
                </div>
            </div>
        </div>
    </section>